/* adds a pale blue background colour to the body of all webpages */
body{
  padding: 0px;
  margin: 0px;
  background-color: #00ccff;
}
/* holds styling properties of header element and its positioning */
.header{
  background-color: #4B0082;
  color: white;
  font-family: Georgia, Serif;
  text-align: center;
  top: 0px;
  line-height: 50%;
  width: 100%;
  padding: 32px;
}
.header img{
    display: inline-block;
    margin-left: 5px;
    width:5%;
    height:5%;
}


.websiteInfo{
  text-align:left;
  display: block;
  width:50%;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 50px;
  font-family:Apple Chancery, cursive;

}

.yearGroupInfo{
  text-align:center;
  display: block;
  font-family:Apple Chancery, cursive;
}
.mathsTopicInfo{
  text-align:center;
  display: block;
  font-family:Apple Chancery, cursive;
}

.container{
  float:right;
  position: relative;
  margin-top:-330px;
  margin-right:100px;
  height:500px;
  width:400px;
}

.formBox{
  height: 450px;
  width:380px;
  position: relative;
  margin:6% auto;
  background: #fff;
  padding: 5px;
  overflow: hidden;
  border: 2px solid #9900cc;
  border-radius: 5px;
}

.buttonBox{
  width:225px;
  margin: 35px auto;
  position: relative;
  box-shadow: 0 0 20px 9px #f2f2f2;
  border-radius: 30px;
}

.toggle-btn{
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;

}
#btn{
  top:0;
  left:0;
  position: absolute;
  width:110px;
  height:100%;
  background:linear-gradient(to right, #99ebff, #9933ff);
  border-radius: 30px;
  transition: .5s;
}
.input-group{
  top:100px;
  position: absolute;
  width:280px;
  transition: .5s;
}
.textInput{
  width:100%;
  padding:10px 0;
  margin:5px 0;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #999;
  outline:none;
  background:transparent;
}
.logout-btn{
  padding:15px 30px;
  display:block;
  background:white;
  color: black;
  cursor:pointer;
  border:0;
  outline:none;
  border-radius:30px;
}

.login-btn{
  width:85%;
  padding:10px 30px;
  cursor:pointer;
  display:block;
  margin:auto;
  background:linear-gradient(to right,#99ebff, #9933ff);
  border:0;
  outline:none;
  border-radius:30px;
}

.signup-btn{
  width:85%;
  padding:10px 30px;
  cursor:pointer;
  display:block;
  margin-top:10px;
  margin-left:30px;
  background:linear-gradient(to right,#99ebff, #9933ff);
  border:0;
  outline:none;
  border-radius:30px;
}
.checkBox{
  margin: 30px 10px 30px 0;
}
span{
  color: #777;
  font-size: 12px;
  bottom: 68px;
  postion: absolute;
}

#login{
  left:70px;
  top:140px;
}
#signup{
  left:450px;
}

#logout{
  margin: auto;
  margin-top: -45px;
  float:right;

}
.homepagelogo{
  float:left;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

/*}
position: fixed;
top: 0;
width: 100%;*/

.navbar ul li {
  float: left;
  border-right:1px solid #bbb;
}

.navbar ul li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
  color:#33ccff;
}

.active {
  background-color: #9900cc;
}

.yearGroupBtns{
  float:center;
  height:360px;
  width:500px;
  position:relative;
  margin-left:380px;
}

.yearGroup-btn{
  width:100%;
  padding:20px 0;
  cursor: pointer;
  margin:10px 0;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  font-size: 20px;
  background: white;

}

.mathsTopicBtns{
    height:600px;
    width:700px;
    position:relative;
    margin-left: 305px;


  }

  .mathTopic-btn{
    float:left;
    cursor: pointer;
    width:150px;
    height:150px;
    margin-left: 50px;
    margin-bottom: 50px;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    font-size: 12px;
    border: 2px solid #9900cc;
    background: white;
    border-radius: 25px;

  }

  .mathsTopicBtns img{
      display: inline-block;
      float:center;
      width:50%;
      height:50%
  }

  .activitiesBtns{
    height:600px;
    width:900px;
    position:relative;
    margin-left: 180px;

  }
  .activity-btn{
    float:left;
    cursor: pointer;
    width:250px;
    height:250px;
    margin-left: 150px;
    margin-bottom: 50px;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    font-size: 16px;
    border: 2px solid #9900cc;
    background: white;
    border-radius: 25px;

  }
  .activitiesBtns img{
      display: inline-block;
      float:center;
      width:50%;
      height:50%
  }

.questionContainer{
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
    margin-top:200px;
    margin-left:300px;
    float:center;
    display: flex;

    border: 2px solid #9900cc;
    width:800px;
    max-width:80%;
    height:500px;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
  }

.btn-grid{
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap:10px;
  margin:20px 0;
}

:root{
  --hue-neutral:200;
  --hue-incorrect:0;
  --hue-correct:145
}
.btns{
  --hue: var(--hue-neutral);
  border: 1px solid hsl(var(--hue), 100%, 30%);
  background-color: hsl(var(--hue), 100%, 50%);
  border-radius: 5px;
  padding: 5px 10px;
  colour:white;
  outline:none;

}
.btns:hover{
  border-color: black;
}

.btns.correct{
 --hue: var(--hue-correct);
 color: black;

}
.btns.incorrect{
 --hue: var(--hue-incorrect);
}

.buttonControls{
  margin-top:200px;
  margin-left:-150px;

}
.start-btn, .next-btn{
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
}
.hide{
  display: none;
}
