/* adds a pale blue background colour to the body of all webpages */
body{
  padding: 0px;
  margin: 0px;
  /*background-color: #00ccff
  background-color: #99ffff;*/
  background-color: #b3e6ff;

}
/* holds styling properties of header element and its positioning */
.header{
  background-color: #4B0082;
  color: white;
  font-family: 'Luckiest Guy';
  text-align: center;
  top: 0px;
  line-height: 50%;
  width: 100%;
  padding: 32px;
}
.header img{

    display: inline-block;
    margin-left: 5px;
    width:5%;
    height:5%;
}


.websiteInfo{
  text-align:left;
  display: block;
  width:50%;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 50px;
  font-family: 'Luckiest Guy'
  /*font-family:Apple Chancery, cursive;*/

}

.yearGroupInfo{
  text-align:center;
  display: block;
  font-family: 'Luckiest Guy'
  /*font-family:Apple Chancery, cursive;*/
}
.mathsTopicInfo{
  text-align:center;
  display: block;
  font-family: 'Luckiest Guy'
  /*font-family:Apple Chancery, cursive;*/
}

.container{
  float:right;
  position: relative;
  margin-top:-330px;
  margin-right:100px;
  height:500px;
  width:400px;
}

.formBox{
  height: 450px;
  width:380px;
  position: relative;
  margin:6% auto;
  background: #fff;
  padding: 5px;
  overflow: hidden;
  border: 2px solid #9900cc;
  border-radius: 5px;
}

.buttonBox{
  width:225px;
  margin: 35px auto;
  position: relative;
  box-shadow: 0 0 20px 9px #f2f2f2;
  border-radius: 30px;
}

.toggle-btn{
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;

}
#btn{
  top:0;
  left:0;
  position: absolute;
  width:110px;
  height:100%;
  background:linear-gradient(to right, #99ebff, #9933ff);
  border-radius: 30px;
  transition: .5s;
}
.input-group{
  top:100px;
  position: absolute;
  width:280px;
  transition: .5s;
}
.textInput{
  width:100%;
  padding:10px 0;
  margin:5px 0;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #999;
  outline:none;
  background:transparent;
}
.logout-btn{
  padding:15px 30px;
  display:block;
  background:white;
  color: black;
  cursor:pointer;
  border:0;
  outline:none;
  border-radius:30px;
}

.login-btn{
  width:85%;
  padding:10px 30px;
  cursor:pointer;
  display:block;
  margin:auto;
  background:linear-gradient(to right,#99ebff, #9933ff);
  border:0;
  outline:none;
  border-radius:30px;
}

.signup-btn{
  width:85%;
  padding:10px 30px;
  cursor:pointer;
  display:block;
  margin-top:10px;
  margin-left:30px;
  background:linear-gradient(to right,#99ebff, #9933ff);
  border:0;
  outline:none;
  border-radius:30px;
}
.checkBox{
  margin: 30px 10px 30px 0;
}
span{
  color: #777;
  font-size: 12px;
  bottom: 68px;
  postion: absolute;

}

#login{
  left:70px;
  top:140px;
}
#signup{
  left:450px;
}

#logout{
  margin: auto;
  margin-top: -45px;
  float:right;

}
.homepagelogo{
  float:left;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

/*}
position: fixed;
top: 0;
width: 100%;*/

.navbar ul li {
  float: left;
  border-right:1px solid #bbb;
}

.navbar ul li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
  color:#33ccff;
}

.active {
  background-color: #9900cc;
}

.yearGroupBtns{
  float:center;
  height:360px;
  width:500px;
  position:relative;
  margin-left:380px;
}

.yearGroup-btn{
  width:100%;
  padding:20px 0;
  cursor: pointer;
  margin:10px 0;

  font-size: 25px;
  background: white;
  font-family: 'Luckiest Guy';

}

.mathsTopicBtns{
    height:600px;
    width:700px;
    position:relative;
    margin-left: 305px;


  }

  .mathTopic-btn{
    float:left;
    cursor: pointer;
    width:150px;
    height:150px;
    margin-left: 50px;
    margin-bottom: 50px;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    font-size: 12px;
    border: 2px solid #9900cc;
    background: white;
    border-radius: 25px;


  }

  .mathsTopicBtns img{
      display: inline-block;
      float:center;
      width:50%;
      height:50%
  }

  .activitiesBtns1{
    height:200px;
    width:200px;
    position:relative;
    margin-left: 180px;


  }
  .activitiesBtns2{
    height:200px;
    width:200px;
    position:relative;
    margin-top:-200px;
    margin-left: 600px;


  }
  .activity-btn1{
    float:left;
    cursor: pointer;
    width:250px;
    height:250px;
    margin-left: 150px;
    margin-bottom: 50px;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    font-size: 16px;
    border: 2px solid #9900cc;
    background: white;
    border-radius: 25px;
  }
  .activity-btn2{
    float:left;
    cursor: pointer;
    width:250px;
    height:250px;
    margin-left: 150px;
    margin-bottom: 50px;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    font-size: 16px;
    border: 2px solid #9900cc;
    background: white;
    border-radius: 25px;


  }
  .activitiesBtns1 img{
      display: inline-block;
      float:center;
      width:50%;
      height:50%
  }
  .activitiesBtns2 img{
      display: inline-block;
      float:center;
      width:50%;
      height:50%
  }

.questionContainer{

    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    margin-top:50px;
    margin-left:350px;
    float:center;
    display: flex;


border: 2px solid #9900cc;
    width:650px;

    height:650px;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;

  }
#questions-container{

  height:30px;
  width:600px;
margin-top: -300px;
margin-left:-200px;
border: 2px solid #9900cc;

}
.questionContainer #question {
  font-size: 2.2rem;
  font-weight: bold;
border: 2px solid #9900cc;
height:60px;
width:600px;

}
.btn-grid{

  font-size: 2.5rem;
  font-weight: bold;
  width:350px;
  height:350px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap:50px;
  margin:20px 120px;
  padding:10px;
  border: 2px solid #9900cc;
  font-family: 'Luckiest Guy';
}
#answerBtn .btns{
    border: 2px solid #9900cc;
}
:root{
  --hue-neutral:200;
  --hue-incorrect:0;
  --hue-correct:145
}
.btns{
  --hue: var(--hue-neutral);
  border: 1px solid hsl(var(--hue), 100%, 30%);
  background-color: hsl(var(--hue), 100%, 50%);
  border-radius: 5px;
  padding: 5px 10px;
  colour:white;
  outline:none;

}
.btns:hover{
  border-color: black;
}

.btns.correct{
 --hue: var(--hue-correct);
 color: black;

}
.btns.incorrect{
 --hue: var(--hue-incorrect);
}


.buttonControls .start-btn{
  font-size:5rem;
  margin-bottom:-90px;
  margin-left:-240px;
  height:100px;
  font-weight: bold;
  padding: 10px 20px;
border: 2px solid #9900cc;
font-family: 'Luckiest Guy';
}

.buttonControls .next-btn{
  font-size:3rem;
  margin-top:525px;
  margin-left:-100px;
  font-weight: bold;
  padding: 10px 10px;
border: 2px solid #9900cc;
font-family: 'Luckiest Guy';
}
.hide{

  display: none;

}

.scoreContainer{
  margin-top:-500px;
  margin-right:0px;
  border-radius: 15px;
  height:50px;
  width:150px;
  padding:10px 15px;
border: 2px solid #9900cc;
white-space: nowrap;
font-family: 'Luckiest Guy';
font-size: 15px;
}
.timerContainer{
  margin-top:-500px;
  margin-left: 10px;
  height:50px;
  width: 150px;
  border-radius: 15px;
  padding:10px 15px;
  border: 2px solid #9900cc;
  white-space: nowrap;
  font-family: 'Luckiest Guy';
  font-size:15px;

}
.SP-container{
  font-size: 2rem;
  font-weight: bold;
  border: 5px double #9900cc;
  padding: 15px;
  margin-top:-200px;
  margin-left:-300px;
  text-align: center;
}

.SP-container #right-answers, #all-questions, #answers-percent{
  font-size: 2rem;
  font-weight: bold;
  color: #9900cc;
  font-family: 'Luckiest Guy';

}

.number-of-question-text #current-question, #all-questions2{
  font-size: 2rem;
  font-weight: bolder;
  font-style: italic;
  color: #9900cc;
  font-family: 'Luckiest Guy';
  font-size:20px;
}

.number-of-question-text {
  font-size: 2rem;
  font-style: italic;
  font-weight: bolder;
  width:400px;
  color: #9900cc;
  font-family: 'Luckiest Guy';
  font-size:20px;
}
 .previous{
   border: 2px solid white;
   margin-left: -1130px;
   margin-top: 10px;
    text-decoration: none;
    display: inline-block;
    padding: 20px 20px;
    background-color: #00ccff;
  color: white;
  border-radius: 30%;
  font-size: 3.6rem;
 }
.next{
  border: 2px solid white;
  margin-left:10px;
  text-decoration: none;
 display: inline-block;
 padding: 20px 20px;
 background-color: #00ccff;
 color: white;
 border-radius: 30%;
 font-size:3.6rem;
}

.next:hover {
  background-color: #ddd;
  color: black;
}
.previous:hover {
  background-color: #ddd;
  color: black;
}

.exampleContainer{
  text-align: center;
      box-sizing: border-box;
      justify-content: center;
      align-items: center;
      margin-top:50px;
      margin-left:200px;

      border: 2px solid #9900cc;
      width:900px;
      height:1000px;
      background-color: white;
      border-radius: 5px;
      padding: 10px;
      box-shadow: 0 0 10px 2px;



}
.exampleContainer h4{
  font-size: 35px;
  font-family: 'Luckiest Guy';

}
.exampleContainer h5{
  font-size: 25px;
  font-family: 'Luckiest Guy';
  color: #3366ff;

}
.red_text {
  color: red;
  font-size: 20px;
}
.pink_text {
  color: #ff0066;
  font-size: 20px;
}
.green_text {
  color: #00b300;
  font-size: 20px;
}
.lilac_text {
  color: #9900ff;
  font-size: 20px;
}

.blue_text {
  color: #3366ff;
  font-size: 20px;
}
.example1{
  display: inline-block;
  float:center;
margin-top: 40px;
margin-left:50px;
  border: 2px solid #9900cc;




  font-size: 12px;


}
.example2{
  display: inline-block;
  float:center;
border: 2px solid #9900cc;

margin-top: 10px;
  margin-left: 50px;
  margin-bottom: 10px;

  font-size: 12px;
}


.exampleContainer p{
  margin-top:50px;

  font-size: 19.5px;
  font-family: 'Luckiest Guy';
}
